Mobile App For Lottery Addiction
===

A medical institute that aims to prevent and treat gambling addictions wants to build a dedicated mobile app to help lottery addicts better estimate their chances of winning. The institute has a team of engineers that will build the app, but they need us to create the logical core of the app and calculate probabilities.

For the first version of the app, they want us to focus on the 6/49 lottery and build functions that enable users to answer questions like:

* What is the probability of winning the big prize with a single ticket?
* What is the probability of winning the big prize if we play 40 different tickets (or any other number)?
* What is the probability of having at least five (or four, or three, or two) winning numbers on a single ticket?

We should first start by writing functions that calculate factorials and combinations.

In [5]:
def factorial(n):
    final_product = 1
    for i in range(n,0,-1):
        final_product *=i
    return final_product

def combinations(n,k):
    return factorial(n)/(factorial(k)*factorial(n-k))

Calculating One-ticket Probability
---

In [6]:
def one_ticket_probability(numbers):
    outcome = combinations(49,6)
    prob = 1/outcome
    perc = prob*100
    return "Your chance of winning the lottery with the numbers {} is {:.7f}%.".format(numbers,perc)

Let's test it with some examples.

In [7]:
test_1 = [3,17,33,24,39,40]
one_ticket_probability(test_1)

'Your chance of winning the lottery with the numbers [3, 17, 33, 24, 39, 40] is 0.0000072%.'

In [8]:
test_2 = [48,7,35,12,1,29]
one_ticket_probability(test_2)

'Your chance of winning the lottery with the numbers [48, 7, 35, 12, 1, 29] is 0.0000072%.'

For the first version of the app, we want players to be able to calculate the probability of winning the big prize with the various numbers they play on a single ticket. Therefore we wrote the above function.

Historical Data Check for Canada Lottery
---

For the first version of the app, the users should also be able to compare their ticket against the historical lottery data in Canada and determine whether they would have ever won by now.

For this, we'll focus on exploring the historical data coming from the Canada 6/49 lottery.

In [9]:
import pandas as pd
lottery = pd.read_csv("649.csv")
lottery.head(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [10]:
lottery.tail(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

Function for Historical Data Check
---

In [11]:
def extract_numbers(row):
    row = row[4:10]
    row = set(row.values)
    return row

In [12]:
winning_numbers = lottery.apply(extract_numbers, axis=1)

In [13]:
winning_numbers.head()

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
3     {3, 9, 10, 43, 13, 20}
4    {34, 5, 14, 47, 21, 31}
dtype: object

In [14]:
def check_historical_occurence(user_numbers,sets):
    numbers = set(user_numbers)
    check = numbers == sets
    occurances = check.sum()
    if occurances == 0:
        print("The combination {} has never been occured in the history. The chance of winning the lottery with this combination is 0.0000072%.".format(user_numbers,user_numbers))
    else:
        print("The number of times combination {} has occured in the past is {}. Your chances to win the big prize in the next drawing using this combination is 0.0000072%.".format(user_numbers, occurances, user_numbers))

In [15]:
test_3 = [1,32,44,5,18,30]
check_historical_occurence(test_3,winning_numbers)

The combination [1, 32, 44, 5, 18, 30] has never been occured in the history. The chance of winning the lottery with this combination is 0.0000072%.

In [16]:
test_4 = [15,2,21,31,38,49]
check_historical_occurence(test_4,winning_numbers)

The number of times combination [15, 2, 21, 31, 38, 49] has occured in the past is 1. Your chances to win the big prize in the next drawing using this combination is 0.0000072%.

Above, we created two functions, first one is to extract all the winning numbers, second one is to show if the user's number has ever occurred in the past.

Multi-ticket Probability
---

Lottery addicts usually play more than one ticket on a single drawing, thinking that this might increase their chances of winning significantly. Our purpose is to help them better estimate their chances of winning â€” on this screen, we're going to write a function that will allow the users to calculate the chances of winning for any number of different tickets.

Next, we will write a function that prints the probability of winning the big prize depending on the number of different tickets played.

In [17]:
def multi_ticket_probability(n_tickets):
    outcome = combinations(49,6)
    prob = n_tickets/outcome
    perc = prob*100
    if n_tickets == 1:  
        print("Your chance of winning the lottery with 1 ticket is 0.000007%.")
    else:
        print("Your chances to win the big prize with {:,} different tickets are {:.6f}%.".format(n_tickets,perc))

In [18]:
test_inputs=[1, 10, 100, 10000, 1000000, 6991908, 13983816]

In [19]:
for i in test_inputs:
    multi_ticket_probability(i)
    print('------------------------')

Your chance of winning the lottery with 1 ticket is 0.000007%.
------------------------
Your chances to win the big prize with 10 different tickets are 0.000072%.
------------------------
Your chances to win the big prize with 100 different tickets are 0.000715%.
------------------------
Your chances to win the big prize with 10,000 different tickets are 0.071511%.
------------------------
Your chances to win the big prize with 1,000,000 different tickets are 7.151124%.
------------------------
Your chances to win the big prize with 6,991,908 different tickets are 50.000000%.
------------------------
Your chances to win the big prize with 13,983,816 different tickets are 100.000000%.
------------------------

Less Winning Numbers
---

Now, we're going to write one more function to allow the users to calculate probabilities for two, three, four, or five winning numbers.

In [29]:
def probability_less_6(n_win_numbers):
    n_combinations_ticket = combinations(6, n_win_numbers)
    remaining = combinations(43,6-n_win_numbers)
    success = n_combinations_ticket*remaining
    outcome = combinations(49,6)
    prob = success/outcome
    perc = prob*100
    print("Your chances of having {} winning numbers with this ticket are {:.6f}%.".format(n_win_numbers,perc))

In [30]:
for i in range(2,6):
    probability_less_6(i)
    print("----------------")

Your chances of having 2 winning numbers with this ticket are 13.237803%.
----------------
Your chances of having 3 winning numbers with this ticket are 1.765040%.
----------------
Your chances of having 4 winning numbers with this ticket are 0.096862%.
----------------
Your chances of having 5 winning numbers with this ticket are 0.001845%.
----------------